#lbTitleFirst{
    -fx-background-color: rgba(255, 255, 255, .64);
}

#lbTitleSecond{
    -fx-background-color: rgba(255, 255, 255, .64);
}

#lbDescFirst{
    -fx-background-color: rgba(255, 255, 255, .64);
}

#fldUsername{
    -fx-opacity: 0.85;
}

#fldPassword{
    -fx-opacity: 0.85;
}

#btnLogin{
    -fx-background-radius: 10px;
}

.notValidField{
    -fx-control-inner-background: lightpink;
}

.validField{
    -fx-control-inner-background: greenyellow;
}