#fldName{
    -fx-opacity: 1;
}

#fldAvailQuantity{
    -fx-opacity: 1;
}

#fldPrice{
    -fx-opacity: 1;
}

.validField{
    -fx-control-inner-background: greenyellow;
}

.notValidField{
    -fx-control-inner-background: lightpink;
}